# Dependencies and Build Directories
node_modules/
build/
dist/
coverage/
.local/

# OS and Log files
.DS_Store
*.log

# Sensitive Credentials and Environments
.env
.env.local
.env.*.local

# Firebase Private Keys and JSON credentials
*credentials*.json
firebase-key.json
firebase-adminsdk.json
*.private.json
/serviceAccountKey.json

# Keep track of example environment configurations
!.env.example
